*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #0d47a1;
}

nav p{
    color: white;
}

.textocentro{
    position: absolute;
    color: white;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textocentro h2{
    font-size: 80px;
}

.textocentro p{
    font-size: 30px;
    font-weight: bold;
}

.container2{
    width: 1280px;
    margin: 0 auto;
}

.f1{
    text-align: center;
    background-color: #1565c0;
    padding: 20px;
    color: white;
}

.f2{
    text-align: center;
    background-color: #0d47a1;
    color: white;
    padding: 5px;
}